.food-logger {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #333;
  color: white;
}

.caloric-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.goal-input, .date-input {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: white;
  text-align: center;
}

.caloric-goal label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.food-logger-content {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 10px;
}

.food-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #333;
  color: white;
}

.food-form label {
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-form input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: white;
  text-align: center;
}

.food-form input::placeholder {
  color: white;
}

.food-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: white;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.food-form button:hover {
  background-color: darkorange;
}

.food-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #333;
  color: white;
}

.food-item {
  width: 100%;
  background-color: #444;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.food-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}

.trash-icon {
  color: red;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}
