.body-weight-list {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #333;
    color: white;
  }
  
  .body-weight-list h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .body-weight-list ul {
    list-style: none;
    padding: 0;
  }
  
  .body-weight-list li {
    padding: 10px;
    border-bottom: 1px solid #555;
  }
  
  .body-weight-list li:last-child {
    border-bottom: none;
  }
  