/* WorkoutHistory.css */

.date-picker {
  text-align: center;
  margin-bottom: 20px;
}

.date-picker label {
  margin-right: 10px;
  color: #e0e0e0;
}

.date-picker input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #2a2a2a;
  color: #e0e0e0;
}

.date-picker input::placeholder {
  color: #e0e0e0;
}

.date-picker input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.workout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.form-container,
.workout-list {
  flex: 1 1 48%;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #e0e0e0;
  margin-bottom: 20px;
}

.workout-list ul {
  list-style-type: none;
  padding: 0;
}

.workout-list h2 {
  text-align: center;
  margin-bottom: 20px;
}

.workout-item {
  background-color: #2a2a2a;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.workout-item ul {
  list-style-type: none;
  padding: 0;
}

.workout-item li {
  margin-bottom: 10px;
}

.exercise-item {
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.exercise-item ul {
  padding-left: 20px;
}

.set-item {
  background-color: #444;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.error-message {
  color: red;
}

.delete-button {
  background-color: #ff1a1a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

.workout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.workout-header strong {
  flex-grow: 1;
}
