/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
}

/* Container styles */
.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #333333;
}

/* List styles */
.workout-item {
  background-color: #1e1e1e;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #333333;
}

.workout-item ul {
  list-style-type: none;
  padding: 0;
}

.workout-item li {
  margin-bottom: 10px;
}

.exercise-item {
  background-color: #2a2a2a;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.exercise-item ul {
  padding-left: 20px;
}

.set-item {
  background-color: #3a3a3a;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


/* Form styles */
.form-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #333333;
}

.form-row {
  margin-bottom: 15px;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
}

.form-row input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #2a2a2a;
  color: #e0e0e0;
}

.error-message {
  color: red;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #333333;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #333333;
  color: #e0e0e0;
}

table td {
  background-color: #2a2a2a;
}
